<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" preserve-order="true" parallel="classes" thread-count="1">

    <listeners>
        <!--  <listener class-name="com.test.automation.uiAutomation.customListner.Listener"></listener>  -->

    </listeners>
    <test name="createNewFormrelus">
        <classes>
            <class name="Testcases.TC0001_CreatenewForm_RelUS"></class>

        </classes>
    </test>

    <test name="createNewFormslus">
        <classes>
            <class name="Testcases.TC0002_CreatenewForm_SL_US"></class>

        </classes>
    </test>

    <test name="createNewFormsluk">
        <classes>
            <class name="Testcases.TC0003_CreatenewForm_SL_UK"></class>
        </classes>
    </test>

    <test name="createNewFormreluk">
        <classes>
            <class name="Testcases.TC0004_CreatenewForm_RelUK"></class>
        </classes>
    </test>

    <test name="cancelselectform">
        <classes>
            <class name="Testcases.TC0005_Cancelselectform"></class>
        </classes>
    </test>

    <test name="compareForm">
        <classes>
            <class name="Testcases.TC0006_CompareForms"></class>
        </classes>
    </test>
    <test name="compareformclosebutton">
        <classes>
            <class name="Testcases.TC0007_CompareFormClose"></class>
        </classes>
    </test>
    <test name="openexistingform">
        <classes>
            <class name="Testcases.TC0008_Editexistingform"></class>
        </classes>
    </test>
    <test name="cancelexistingformbutton">
        <classes>
            <class name="Testcases.TC0009_Canceleditexistingform"></class>
        </classes>
    </test>
    <test name="copyexistingform">
        <classes>
            <class name="Testcases.TC0010_Copyexistingform"></class>
        </classes>
    </test>
    <test name="cancelcopyexistingform">
        <classes>
            <class name="Testcases.TC0011_Cancelcopyexistingform"></class>
        </classes>
    </test>
    <test name="hcodedropdown">
        <classes>
            <class name="Testcases.TC0012_HcodeDropdown"></class>
        </classes>
    </test>
    <test name="expandcollapsesections">
        <classes>
            <class name="Testcases.TC0013_Expand_Collapsesections"></class>
        </classes>
    </test>
    <test name="projectinfocheckconfirmationcheckboxes">
        <classes>
            <class name="Testcases.TC0014_Confirmationcheckboxes_projectinfo"></class>
        </classes>
    </test>
    <test name="projectinfocheckconfirmationcheckboxesunchecked">
        <classes>
            <class name="Testcases.TC0015_Confirmationcheckboxuncheck_projectinfo"></class>
        </classes>
    </test>
    <test name="productioninfocheckconfirmationcheckboxes">
        <classes>
            <class name="Testcases.TC0016_Confirmationcheckbox_prodinfo"></class>
        </classes>
    </test>
    <test name="productioninfocheckconfirmationcheckboxesunchecked">
        <classes>
            <class name="Testcases.TC0017_Confirmationcheckboxuncheck_prodinfo"></class>
        </classes>
    </test>
</suite>