<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" preserve-order="true" parallel="classes" thread-count="1">

    <listeners>

    </listeners>

    <test name="TC000_CreatenewForm">
        <classes>
            <class name="TC000_CreatenewForm"></class>

        </classes>
    </test>



</suite>