<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Suite" preserve-order="true" parallel="classes" thread-count="1">

    <test name="PMC_Regression tests">
        <classes>
            <class name="HomePage.TC0001_CreatenewForm_RelUS"></class>
            <class name="HomePage.TC0002_CreatenewForm_SL_US"></class>
            <class name="HomePage.TC0003_CreatenewForm_SL_UK"></class>
            <class name="HomePage.TC0004_CreatenewForm_RelUK"></class>
            <class name="HomePage.TC0005_Cancelselectform"></class>
            <class name="HomePage.TC0006_CompareForms"></class>
            <class name="HomePage.TC0007_CompareFormClose"></class>
            <class name="HomePage.TC0008_Editexistingform"></class>
            <class name="HomePage.TC0009_Canceleditexistingform"></class>
            <class name="HomePage.TC0010_Copyexistingform"></class>
            <class name="HomePage.TC0011_Cancelcopyexistingform"></class>
            <class name="RELUSForms.TC0012_HcodeDropdown"></class>
            <class name="RELUSForms.TC0013_Expand_Collapsesections"></class>
            <class name="RELUSForms.TC0014_Confirmationcheckboxes_GeneralProdreq"></class>
            <class name="RELUSForms.TC0015_Confirmationcheckboxuncheck_Generalprodreq"></class>
            <class name="RELUSForms.TC0016_Confirmationcheckbox_redactionplaceholder"></class>
            <class name="RELUSForms.TC0017_Confirmationcheckboxuncheck_redactionplaceholder"></class>
            <class name="RELUSForms.TC0018_Confirmationcheckboxcheck_nativeimagingoptions"></class>
            <class name="RELUSForms.TC0019_Confirmationcheckboxuncheck_nativeimagingoptions"></class>
            <class name="RELUSForms.TC0020_Confirmationcheckboxcheck_brandinginfo"></class>
            <class name="RELUSForms.TC0021_Confirmationcheckboxuncheck_brandinginfo"></class>
            <class name="RELUSForms.TC0022_Confirmationcheckboxcheck_prodfilespec"></class>
            <class name="RELUSForms.TC0023_Confirmationcheckboxuncheck_prodfilespec"></class>
            <class name="RELUSForms.TC0024_Confirmationcheckboxcheck_prodlocationfoldering"></class>
            <class name="RELUSForms.TC0025_Confirmationcheckboxuncheck_prodlocationfoldering"></class>
            <class name="RELUKForms.TC0026_HcodeDropdown"></class>
            <class name="RELUKForms.TC0027_Expand_Collapsesections"></class>
            <class name="RELUKForms.TC0028_Confirmationcheckboxes_GeneralProdreq"></class>
            <class name="RELUKForms.TC0029_Confirmationcheckboxuncheck_Generalprodreq"></class>
            <class name="RELUKForms.TC0030_Confirmationcheckbox_redactionplaceholder"></class>
            <class name="RELUKForms.TC0031_Confirmationcheckboxuncheck_redactionplaceholder"></class>
            <class name="RELUKForms.TC0032_Confirmationcheckboxcheck_nativeimagingoptions"></class>
            <class name="RELUKForms.TC0033_Confirmationcheckboxuncheck_nativeimagingoptions"></class>
            <class name="RELUKForms.TC0034_Confirmationcheckboxcheck_brandinginfo"></class>
            <class name="RELUKForms.TC0035_Confirmationcheckboxuncheck_brandinginfo"></class>
            <class name="RELUKForms.TC0036_Confirmationcheckboxcheck_prodfilespec"></class>
            <class name="RELUKForms.TC0037_Confirmationcheckboxuncheck_prodfilespec"></class>
            <class name="RELUKForms.TC0038_Confirmationcheckboxcheck_prodlocationfoldering"></class>
            <class name="RELUKForms.TC0039_Confirmationcheckboxuncheck_prodlocationfoldering"></class>
            <class name="SLUSForms.TC0040_HcodeDropdown"></class>
            <class name="SLUSForms.TC0041_Expand_Collapsesections"></class>
            <class name="SLUSForms.TC0042_Confirmationcheckboxes_GeneralProdreq"></class>
            <class name="SLUSForms.TC0043_Confirmationcheckboxuncheck_Generalprodreq"></class>
            <class name="SLUSForms.TC0044_Confirmationcheckbox_redactionplaceholder"></class>
            <class name="SLUSForms.TC0045_Confirmationcheckboxuncheck_redactionplaceholder"></class>
            <class name="SLUSForms.TC0046_Confirmationcheckboxcheck_nativeimagingoptions"></class>
            <class name="SLUSForms.TC0047_Confirmationcheckboxuncheck_nativeimagingoptions"></class>
            <class name="SLUSForms.TC0048_Confirmationcheckboxcheck_brandinginfo"></class>
            <class name="SLUSForms.TC0049_Confirmationcheckboxuncheck_brandinginfo"></class>
            <class name="SLUSForms.TC0050_Confirmationcheckboxcheck_prodfilespec"></class>
            <class name="SLUSForms.TC0051_Confirmationcheckboxuncheck_prodfilespec"></class>
            <class name="SLUSForms.TC0052_Confirmationcheckboxcheck_prodlocationfoldering"></class>
            <class name="SLUSForms.TC0053_Confirmationcheckboxuncheck_prodlocationfoldering"></class>
            <class name="SLUKForms.TC0054_HcodeDropdown"></class>
            <class name="SLUKForms.TC0055_Expand_Collapsesections"></class>
            <class name="SLUKForms.TC0056_Confirmationcheckboxes_GeneralProdreq"></class>
            <class name="SLUKForms.TC0057_Confirmationcheckboxuncheck_Generalprodreq"></class>
            <class name="SLUKForms.TC0058_Confirmationcheckbox_redactionplaceholder"></class>
            <class name="SLUKForms.TC0059_Confirmationcheckboxuncheck_redactionplaceholder"></class>
            <class name="SLUKForms.TC0060_Confirmationcheckboxcheck_nativeimagingoptions"></class>
            <class name="SLUKForms.TC0061_Confirmationcheckboxuncheck_nativeimagingoptions"></class>
            <class name="SLUKForms.TC0062_Confirmationcheckboxcheck_brandinginfo"></class>
            <class name="SLUKForms.TC0063_Confirmationcheckboxuncheck_brandinginfo"></class>
            <class name="SLUKForms.TC0064_Confirmationcheckboxcheck_prodfilespec"></class>
            <class name="SLUKForms.TC0065_Confirmationcheckboxuncheck_prodfilespec"></class>
            <class name="SLUKForms.TC0066_Confirmationcheckboxcheck_prodlocationfoldering"></class>
            <class name="SLUKForms.TC0067_Confirmationcheckboxuncheck_prodlocationfoldering"></class>
            <class name="RELUKForms.TC0068_Nondefaultconfirmationcheck"></class>
            <class name="RELUSForms.TC0069_Nondefaultconfirmationcheck"></class>
            <class name="SLUKForms.TC0070_Nondefaultconfirmationcheck"></class>
            <class name="SLUSForms.TC0071_Nondefaultconfirmationcheck"></class>
            <class name="RELUKForms.TC0072_ClearvalueclickingXandconfirmingcheckbox"></class>
            <class name="RELUSForms.TC0073_ClearvalueclickingXandconfirmingcheckbox"></class>
            <class name="SLUKForms.TC0074_ClearvalueclickingXandconfirmingcheckbox"></class>
            <class name="SLUSForms.TC0075_ClearvalueclickingXandconfirmingcheckbox"></class>
            <class name="RELUKForms.TC0076_Clearsectionconfirmationcheck"></class>
            <class name="RELUSForms.TC0077_Clearsectionconfirmationcheck"></class>
            <class name="SLUKForms.TC0078_Clearsectionconfirmationcheck"></class>
            <class name="SLUSForms.TC0079_Clearsectionconfirmationcheck"></class>
            <class name="RELUKForms.TC0080_Clearallconfirmationchecks"></class>
            <class name="RELUSForms.TC0081_Clearallconfirmationchecks"></class>
            <class name="SLUKForms.TC0082_Clearallconfirmationchecks"></class>
            <class name="SLUSForms.TC0083_Clearallconfirmationchecks"></class>



        </classes>
    </test>

</suite>